.container {
  background-color: rgb(241, 181, 128);
  max-width: 30vw;
  min-width: 10vw;
  width: 70vw;
  height: 100px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  span {
    font-size: 40px;
    min-width: 200px;
    width: 15vw;
  }
}
