.container {
  .chef {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .restaurant {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .dish {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
