.container {
  .chef {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .restaurant {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .dish {
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  .action-btn {
    background-color: transparent;
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
}
